{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ post.title }} | {{ block.super }}{% endblock %}

{% block main_content %}
<article class="container content post">
    <header class="container-header content-header">
        <h1 class="content-title">{{ post.title }}</h1>
        {% language 'es' %}
        <p class="content-subtitle">{{ post.publish_on|date }}</p>
        {% endlanguage %}
    </header>

    <div class="content-text">
        {{ post.body|safe }}
    </div>
</article>
{% endblock %}
