{% load i18n %}
<article class="content content-highlight release">
    {% include "music/_release_cover.html" %}

    <div class="release-info">
        <header class="content-header">
            <h3 class="content-title">
                <a href="{{ release.get_absolute_url }}">{{ release.title }}</a>
            </h3>
            {% language 'es' %}
            <p class="content-subtitle">{{ release.date|date }}</p>
            {% endlanguage %}
        </header>

        <div class="content-text">
            {{ release.description|safe }}
        </div>

        <div class="embed">
            {{ release.player_code|safe }}
        </div>
    </div>
</article>
