{% extends "base.html" %}
{% load cloudinary %}

{% block title %}Coctel Dúo | {{ block.super }}{% endblock %}
{% block main_class %}navigation-page{% endblock %}

{% block main_content %}
<article id="about">
    <figure class="hero-img">
        <img src="{% cloudinary_url 'coctelduo__hero_about_banner_fzjhym.jpg' width='1280' %}" alt="Coctel Dúo">
        <figcaption>
            <div class="img-credit">Foto de Luis Enrique Flores</div>
            Carlos Aguilar Weber y Mireya Pérez Ríos
        </figcaption>
    </figure>

    <div class="container">
        <h1 class="container-header">Acerca de Coctel Dúo</h1>

        <div class="content-text">
            <p>
                Coctel Dúo fue asignado por el <strong>PEAC</strong> (Programa Emergente de Apoyo a Creadores) al <strong>Festival Internacional Chihuahua 2020</strong>. Nos

                comprometimos en honrar la confianza que depositaron en nosotros y a decir de los muchos comentarios  felicitaciones y vistas que

                constan en las redes, parece que nuestro esfuerzo y "la fortuna" estuvo de nuestro lado al lograr representar dignamente al talento

                local frente a espectáculos de artistas de fuera del estado.
            </p>
            <hr>
         </div>
    </div>
</article>
{% endblock %}
