{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Duo acústico (guitarra y cello) de Chihuahua, Mexico">
    <title>{% block title %}Coctel Dúo{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/socicon.css' %}">

    {% block head_css %}{% endblock %}
</head>

<body id="{% block body_id %}hth{% endblock %}">
    <header class="container navigation" role="banner">
        <div class="navigation-wrapper">
            <h1 class="logo"><a href="{% url 'home_page' %}">Coctel Dúo</a></h1>
            <div class="tagline">
                <span class="tagline-text"></span>
            </div>
            <nav role="navigation">
                <h2 id="js-mobile-menu" class="navigation-menu-button"><a href="javascript:void(0)">Nav</a></h2>
                <ul id="js-navigation-menu" class="navigation-menu">
                    {% include "_nav_link.html" with nav_view="release_list" nav_title="Musica" %}
                    {% include "_nav_link.html" with nav_view="video_list" nav_title="Video" %}
                    {% include "_nav_link.html" with nav_view="gig_list" nav_title="En Vivo" %}
                    {% include "_nav_link.html" with nav_view="post_list" nav_title="Noticias" %}
                    {% include "_nav_link.html" with nav_view="press_list" nav_title="Prensa" %}
                    {% include "_nav_link.html" with nav_view="about_page" nav_title="Acerca de" %}
                </ul>
            </nav>
        </div>
    </header>

    <main class="{% block main_class %}{% endblock %}">
    {% block main_content %}{% endblock %}
    </main>

    <footer class="container footer" role="contentinfo">
        <section>
            <div class="footer-links">
                <h2>Contacto</h2>
                <p><a href="mailto:contrataciones@coctelduo.com?Subject=HTH%20Website%20Contact">info@coctelduo.com</a></p>
            </div>

            <div class="footer-links">
                <h2>Redes sociales</h2>
                <ul>
                    {% include "_social_link.html" with icon_url="https://play.spotify.com/artist/coctelduo" icon_title="Spotify" icon_name="spotify" %}
                    {% include "_social_link.html" with icon_url="https://itunes.apple.com/us/artist/coctelduo" icon_title="Apple Music" icon_name="apple" %}
                    {% include "_social_link.html" with icon_url="https://music.youtube.com/channel/coctelduo" icon_title="YouTube Music" icon_name="youtube" %}
                    {% include "_social_link.html" with icon_url="http://coctelduo.bandcamp.com/" icon_title="Bandcamp" icon_name="bandcamp" %}
                    {% include "_social_link.html" with icon_url="https://soundcloud.com/coctelduo" icon_title="SoundCloud" icon_name="soundcloud" %}
                </ul>
                <ul>
                    {% include "_social_link.html" with icon_url="http://www.facebook.com/CoctelDuo" icon_title="Facebook" icon_name="facebook" %}
                    {% include "_social_link.html" with icon_url="https://www.instagram.com/coctelduo" icon_title="Instagram" icon_name="instagram" %}
                </ul>
            </div>

            <div class="footer-links">
                <h2>Lista de correo</h2>
                <form action="https://automatones.us7.list-manage.com/subscribe/post?u=cb94210cfa0b9929d7622cf68&amp;id=7f2869f55f" method="post">
                    <div style="display: none;">
                        <label>leave this field blank to prove your humanity
                            <input type="text" name="email" value="">
                        </label>
                    </div>
                    <input type="text" value="" name="EMAIL" id="mce-EMAIL" placeholder="Tu correo">
                    <input type="submit" value="Subscríbete" name="subscribe" class="button">
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_cb94210cfa0b9929d7622cf68_7f2869f55f" value=""></div>
                </form>
            </div>

            <p class="copyright">&copy; 2020&ndash;{% now "Y" %} Coctel Dúo. Chihuahua, México. Todos los derechos reservados.</p>
            <p class="copyright">Sitio creado por <a href="https://github.com/bhrutledge/jahhills.com">Brian Rutledge</a> de <a href="http://hallelujahthehills.com/">Hallelujah The Hills</a></p>
        </section>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var $menuToggle = $('#js-mobile-menu').unbind();
            var $menu = $('#js-navigation-menu');

            $menuToggle.on('click', function(e) {
                e.preventDefault();
                $menu.slideToggle(function() {
                    if ($menu.is(':hidden')) {
                        $menu.removeAttr('style');
                    }
                });
            });

            /*
            var taglines = [
                "We have the perimeter surrounded.",
                "Are we failing?",
                "Coming at you with realistic birthday music.",
                "You've heard this song before.",
                "Some post-punk instincts but they weren't specific.",
                "Some prog rock lyrics that looked like hieroglyphics.",
                "No more desperate grasping for feelings difficult to put into words.",
                "There's angels in the source code if you know where to look for them.",
                "Three minute songs at reasonable rates.",
                "Blowing up ideas with magic markers and drum hits.",
                "Milking sounds out of our instruments since late 2005.",
                "As seen On TV's 'America is Hallucinating'.",
                "Super-charged American favorites since 2005.",
                "We're just like you.",
                "I know it's not nostalgia.",
            ];

            $('.tagline-text').text(
                taglines[Math.floor(Math.random() * taglines.length)]
            );
            */
        });
    </script>
</body>
</html>
